<head>
  <meta charset="UTF-8" />
  <title><%= meta.title %>｜sitename</title>
  <meta name="description" content="<%= meta.description %>" />
  <meta name="keywords" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <!-- OGP -->
  <meta property="og:title" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content=""> <%# 90文字推奨 %>
  <meta property="og:type" content=""> <%# TOPページはwebsite、子ページはarticle %>
  <meta property="og:url" content="#"> <%# サイトURL %>
  <meta property="og:image" content=""> <%# 1200×630以上推奨、絶対パス %>
  <meta name="twitter:card" content="summary or summary_large_image">
  <meta name="twitter:site" content=""> <%# @ユーザー名 %>
  <meta name="format-detection" content="telephone=no">
  <!-- タッチアイコン -->
  <link rel="apple-touch-icon" sizes="192x192" href="#">
  <link rel="shortcut icon" sizes="192x192" href="#">
  <!-- ファビコン -->
  <link rel="icon" href="#">
  <!-- クローラー -->
  <meta name="robots" content="noindex">
  <!-- フォント設定 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&display=swap" rel="stylesheet">
  <!-- アイコン -->

  <!-- ejsのメタデータにswiperCssがあったら読み込む -->
  <% if(meta.swiperCss) { %>
  <link rel="stylesheet" href="<%= meta.swiperCss %>swiper.min.css" />
  <% } %>
  <!-- css -->
  <link rel="stylesheet" href="<%= meta.stylePath %>style.css" />
  <!-- js -->
  <script src="<%= meta.scriptPath %>index.js" defer></script>
</head>
